<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Restaurant Management</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar">
    <ul>
      <li><a href="menu.html">Menu</a></li>
      <li><a href="recipe.html">Recipes</a></li>
      <li><a href="ingredients.html">Ingredients</a></li>
      <li><a href="tables.html">Tables</a></li>
      <li class="auth"><a href="/logout">Sign Out</a></li>
      <li><a>Logged in as {{session['Account_id']}}</a></li>
    </ul>
  </nav>
  <!--Table Management-->
  <main>
    <h1 class = "title">Tables Management</h1>
    <div class="tables-grid">
      <!-- Example menu card -->
      <div class="tables-card">
        <h1>Table 1</h1>
        <ul>
          <li>Seats: 4</li>
          <li>Status: Available</li>
          <li>Current Customer: 0</li>
          <li>Order #: None</li>
          <li>Payment Status: True</li>
        </ul>
        <button>Edit</button>
      </div>
      <!-- Repeat .menu-card as needed -->
    </div>
  </main>
</body>
</html>
